<!-- footer section starts -->
<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>Bernice's Portfolio</h3>
            <p>Thank you for visiting my personal portfolio website. Connect with me over socials. <br /> <br /> 
            </p>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#home"><i class="fas fa-chevron-circle-right"></i> home</a>
            <a href="#about"><i class="fas fa-chevron-circle-right"></i> about</a>
            <a href="#skills"><i class="fas fa-chevron-circle-right"></i> skills</a>
            <a href="#education"><i class="fas fa-chevron-circle-right"></i> education</a>
            <a href="#work"><i class="fas fa-chevron-circle-right"></i> work</a>
            <a href="#experience"><i class="fas fa-chevron-circle-right"></i> experience</a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <p> <i class="fas fa-phone"></i>+1 437-599-5035</p>
            <p> <i class="fas fa-envelope"></i>bernicemeghan@gmail.com</p>
            <p> <i class="fas fa-map-marked-alt"></i>Scarbrough,Ontario,Canada</p>
            <div class="share">

                <a href="https://www.linkedin.com/in/bernice-meghan-78350621a" class="fab fa-linkedin" target="_blank"></a>
                <a href="https://github.com/BerniceMeghan" class="fab fa-github" target="_blank"></a>
                <a href="mailto:bernicemeghan@gmail.com" class="fas fa-envelope" target="_blank"></a>
            </div>
        </div>
    </div>

    <h1 class="credit">Designed with <i class="fa fa-heart pulse"></i> by <a
            href="https://www.linkedin.com/in/bernice-meghan-78350621a/"> Bernice Meghan</a></h1>

</section>

<!--Start of Tawk.to Script-->

<!--End of Tawk.to Script-->

<!-- footer section ends -->